@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body {
    /* @apply bg-black text-white; */
}

#imager091992u3 {
    background: url('/backgrounds/background1.jpeg');
    background-position: center;
    background-size: cover;
}